::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(16, 181, 223, 0.699);
    border-radius: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
.back_ground{
    width: 95%;
    margin: 20px auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    padding-bottom: 20px;
    padding-top: 20px;
}
.title_text{
    margin: 40px auto;
    padding: 20px;
    width: 85%;
    height: 40px;
    background-color: rgba(16, 181, 223, 0.699);
    border-radius: 15px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Microsoft YaHei UI','HarmonyOS Sans SC';
}