.content > div{
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
}
.port_info{
    float: left;
    padding-left: 10px;
}
.port_info_back{
    text-align: center;
}
table{
    width: 98%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
tr:hover{
    background-color: rgb(90, 205, 205);
}
content_title {
    font-weight: bold;
}
.content_title{
    font-weight: bold;
    height: 40px;
}
.content_title:hover{
    background: none;
}
a{
    color: blue;
    text-decoration-line: none;
}
a:hover{
    color: white;
}